In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df#.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Swift Current,CA,2022-11-09 20:46:55,50.2834,-107.8014,2.21,85,100,6.91
1,1,Novyy Urengoy,RU,2022-11-09 20:50:47,66.0833,76.6333,-6.56,99,28,1.34
2,2,Bluff,NZ,2022-11-09 20:50:47,-46.6000,168.3333,53.80,62,3,5.99
3,3,Bure,ET,2022-11-09 20:50:48,10.7000,37.0667,54.82,89,81,5.08
4,4,Barrow,US,2022-11-09 20:46:00,71.2906,-156.7887,24.82,86,0,11.50
...,...,...,...,...,...,...,...,...,...,...
549,549,Shush,IR,2022-11-09 21:04:15,32.1942,48.2436,71.38,64,87,8.43
550,550,Bouca,CF,2022-11-09 21:04:16,6.5105,18.2733,71.98,86,94,3.51
551,551,Marsaxlokk,MT,2022-11-09 21:04:16,35.8419,14.5431,64.08,88,0,2.30
552,552,Mecca,SA,2022-11-09 21:04:16,21.4267,39.8261,76.77,57,72,3.76
553,553,Arlit,NE,2022-11-09 21:04:16,18.7369,7.3853,76.32,14,0,9.86

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
###########################    Create a Maximum Temperature Heatmap    ###########################

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. Eliminates Max Temps below zero
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)  # If temps are >= 0
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)     # Using for loop above
# Uses list comprehension to eliminate Max Temps below zero
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#####################    Adjust Heatmap Zoom, Intensity, and Point Radius    #####################

# Assign the figure variable adding a center and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Assign the figure variable adding a center and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#############################    Create a Percent Humidity Heatmap    ############################

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
############################    Create a Percent Cloudiness Heatmap    ###########################

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
###############################    Create a Wind Speed Heatmap    ################################

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
##################################    Get Vacation Criteria    ###################################

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df#.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Butaritari,KI,2022-11-09 20:46:42,3.0707,172.7902,81.34,79,100,20.98
6,6,Yenagoa,NG,2022-11-09 20:50:48,4.9247,6.2642,76.42,91,100,4.25
12,12,Dubai,AE,2022-11-09 20:46:15,25.2582,55.3047,82.33,65,0,10.36
13,13,Puerto Ayora,EC,2022-11-09 20:50:49,-0.7393,-90.3518,75.16,81,18,5.99
14,14,Bengkulu,ID,2022-11-09 20:49:20,-3.8004,102.2655,75.42,90,100,3.53
...,...,...,...,...,...,...,...,...,...,...
543,543,Tigre,AR,2022-11-09 21:04:13,-34.4260,-58.5796,80.06,59,0,12.66
546,546,Bubaque,GW,2022-11-09 21:04:14,11.2833,-15.8333,82.94,68,6,10.18
548,548,Hobyo,SO,2022-11-09 21:04:15,5.3505,48.5268,79.74,69,1,11.01
552,552,Mecca,SA,2022-11-09 21:04:16,21.4267,39.8261,76.77,57,72,3.76
553,553,Arlit,NE,2022-11-09 21:04:16,18.7369,7.3853,76.32,14,0,9.86

In [30]:
preferred_cities_df.count()

City_ID       159
City          159
Country       157
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [31]:
##################################    Map Vacation Criteria    ###################################

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5     Butaritari      KI     81.34   3.0707  172.7902
6        Yenagoa      NG     76.42   4.9247    6.2642
12         Dubai      AE     82.33  25.2582   55.3047
13  Puerto Ayora      EC     75.16  -0.7393  -90.3518
14      Bengkulu      ID     75.42  -3.8004  102.2655
17     San Pedro      PH     79.83  14.3500  121.0167
18         Kieta      PG     82.00  -6.2167  155.6333
22     Kavaratti      IN     82.00  10.5669   72.6420
23        Dwarka      IN     79.50  22.2394   68.9678
24       Tautira      PF     77.68 -17.7333 -149.1500

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))